/*
 *= require trix
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
