.message
  {
    width: 100%;
  }

.message-user
  {
    height: 30px;
    margin-right: 1%;
    float: left;
    font-weight: bold;
    color: #008CBA;
  }

.message-content
  {
    height: 30px;
  }
