.message
  {
    width: 100%;
  }

.message-user
  {
    height: 50px;
    margin-right: 5%;
    float: left;
    font-weight: bold;
    color: #008CBA;
    text-align: left;
    vertical-align: middle;
  }

.message-content
  {
    height: 50px;
    text-align: left;
    vertical-align: middle;
  }
